<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LabMan.Properties.Settings.UBSLABMN_MXConnectionString"
            connectionString="Data Source=P-UBS305B\UBSSERVER;Initial Catalog=UBSLABMN_MX;User ID=LabmanDevel;Password=Ubscode_1"
            providerName="System.Data.SqlClient" />
        <add name="LabMan.Properties.Settings.UBSLABMN_MX" connectionString="Data Source=P-UBS305B\UBSSERVER;Initial Catalog=UBSLABMN_MX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>